<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SH-TwitterClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC93DE071CE9941900EA4599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC93DE1B1CE9941900EA4599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC93DE261CE9941900EA4599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
